<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org/">

<head th:replace="fragments :: header">
<title>[[${pageTitle}]]</title>
</head>

<body id="page-top">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
         <ul th:replace="fragments :: sidebar"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
               <nav th:replace="fragments :: topbar"></nav>
              <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Thêm chỗ đỗ xe khách vãng lai</h1>

                    <div class="box box-primary">
				    <div class="box-body">
				    <div th:if="${msg}" class="alert alert-success text-center">
							    [[${msg}]]
							  </div>
				        <form class="form-horizontal" action="/CreateNormalParking" th:object="${parking}" method="post" onsubmit="return validateForm()">
				            <div class="form-group">
				                <label class="control-label col-sm-2" for="">Parking Name:</label>
				                <div class="col-sm-10">
				                    <input type="text" class="form-control" id="parkingName" th:value="${parking.parkingName}" th:field="*{parkingName}" name ="parkingName" autofocus>
				                     <p id="parkingName-error" class="text-left fs-4 text-danger"></p>
				                </div>
				            </div>
				            
				            <div class="form-group">
				                <label class="control-label col-sm-2" for="">Chỗ đỗ xe:</label>
				                <div class="col-sm-10">
				                    <input type="text" class="form-control" id="positionName" value="" th:field="*{position.positionName}" name="positionName">
				                    <p id="positionName-error" class="text-left fs-4 text-danger"></p>
				                </div>
				            </div>
				
				            <div class="form-group">
				                <label class="control-label col-sm-2" for="">Biển số xe:</label>
				                <div class="col-sm-10">
				                    <input type="text" class="form-control" id="numberPlates" value="" th:field="*{car.numberPlates}" name="numberPlates">
				                    <p id="numberPlates-error" class="text-left fs-4 text-danger"></p>
				                </div>
				            </div>
				            
				            <div class="form-group">
				                <label class="control-label col-sm-2" for="">Tên xe:</label>
				                <div class="col-sm-10">
				                    <input type="text" class="form-control" id="carName" value="" th:field="*{car.carName}" name="carName">
				                    <p id="carName-error" class="text-left fs-4 text-danger"></p>
				                </div>
				            </div>
				            
				            <div class="form-group">
				                <label class="control-label col-sm-2" for="">Màu sắc xe:</label>
				                <div class="col-sm-10">
				                    <input type="text" class="form-control" id="color" value="" th:field="*{car.color}" name="color">
				                    <p id="color-error" class="text-left fs-4 text-danger"></p>
				                </div>
				            </div>
				            
				            <div class="form-group">
				                <label class="control-label col-sm-2" for="">Ghi chú:</label>
				                <div class="col-sm-10">
				                    <input type="text" class="form-control" id="description" value="" th:field="*{car.description}" name="description">
				                    <p id="description-error" class="text-left fs-4 text-danger"></p>
				                </div>
				            </div>
				
				            <div class="form-group">
				                <div class="col-sm-offset-2 col-sm-10">
				                	<button id="huhong" class="btn btn-success">Lưu dữ liệu</button>
				                    <a th:href = "@{/UserManagerment}" class="btn btn-warning">Quay lại</a>
				                </div>
				            </div>
				        </form>
				    </div>
				</div>  

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
	   <a th:replace="fragments :: scroll">
	</a>

    <!-- Logout Modal-->
   <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-aledby="exampleModala"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModala">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-a="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    
    <script>
   	 flatpickr(".flatpickr");
	</script>
	
	 <script>
		$(document).ready(function(){
			$("form").submit(function(e){
	        e.preventDefault();
	    });
		})
		$('#huhong').on('click',()=>{
			var parkingName = $('#parkingName').val()
			 var regex = /^[A-Za-z][0-9]{2}$/
			var positionName = $('#positionName').val()
			var numberPlates = $('#numberPlates').val()
			var carName = $('#carName').val()
			var color = $('#color').val()
			var description = $('#description').val()
			if (parkingName == "" || !regex.test(positionName) || positionName == ""||
					numberPlates==""|| description == "" || carName == "" || color == "") {
		      alert("Vui lòng nhập đầy đủ!");
		    } else {
		    	$("form").unbind();
		    	$("form").submit();
		    }
		})
	</script>
	
	<script>
	 function validateForm() {
	   // Lấy giá trị các trường dữ liệu
	   var parkingName = document.getElementById("parkingName").value;
	   var parkingNameEr = document.getElementById("parkingName-error");
	   
	   var positionName = document.getElementById("positionName").value;
	   var positionNameEr = document.getElementById("positionName-error");
	   var numberPlates = document.getElementById("numberPlates").value;
	   var numberPlatesEr = document.getElementById("numberPlates-error");
	   
	   // Kiểm tra số điện thoại có 10 số
	   if (parkingName.length !== 4) {
		   parkingNameEr.innerHTML = "ParkingName phải có 4 ký tự!";
	     return false;
	   }
	   
	   //kiểm tra email
		 if (positionName.length !== 3) {
			 positionNameEr.innerHTML = "PositionName phải có 3 ký tự!";
		     return false;
		   }
		 
		 //kiểm tra họ tên
		 if (numberPlates.length !== 10) {
			 numberPlatesEr.innerHTML = "Biển số xe phải có 10 ký tự.";
			 return false;
		 }
	 }
	</script>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts name all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

</body>

</html>