<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: header">
</head>

<body id="page-top">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
         <ul th:replace="fragments :: sidebar"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
              <nav th:replace="fragments :: topbar"></nav>
              <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Đổi mật khẩu</h1>

                    <div class="box box-primary">
                    <div th:if="${session.msg}" class="alert alert-success text-center">
					    [[${session.msg}]]
					  </div>
					  <div th:if="${session.msgErr}" class="alert alert-danger text-center">
					    [[${session.msgErr}]]
					  </div>
				    <div class="box-body">
				        <form class="form-horizontal" action="updatePassword" method="post" onsubmit="return validateForm()">
				             <div class="form-group">
				                <label class="control-label col-sm-2" for="">Mật khẩu cũ:</label>
				                <div class="col-sm-10">
				                    <input type="password" class="form-control" id="" value="" name="oldPass" placeholder="" autofocus="autofocus">
				                </div>
				            </div>
				            
				             <div class="form-group">
				                <label class="control-label col-sm-2" for="">Mật khẩu mới:</label>
				                <div class="col-sm-10">
				                    <input type="password" class="form-control" id="newPass" value="" name="newPass" placeholder="">
				                    <p id="pw-error" class="text-left fs-4 text-danger"></p>
				                </div>
				            </div>
				            
				            <div class="form-group">
				                <label class="control-label col-sm-2" for="">Nhập lại mật khẩu mới:</label>
				                <div class="col-sm-10">
				                    <input type="password" class="form-control" id="" value="" name="reNewPass" placeholder="">
				                </div>
				            </div>

				            <div class="form-group">
				                <div class="col-sm-offset-2 col-sm-10">
				                	<button type="submit" class="btn btn-success">Lưu dữ liệu</button>
				                    <a th:href = "@{/UserManagerment}" class="btn btn-warning">Quay lại</a>
				                </div>
				            </div>
				        </form>
				    </div>
				</div>  

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-aledby="exampleModala"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModala">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-a="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    
    <script>
	 function validateForm() {
	   // Lấy giá trị các trường dữ liệu
	   var newPass = document.getElementById("newPass").value;
	   var newPassEr = document.getElementById("pw-error");

	   
	   // Kiểm tra mật khẩu
	   if (newPass.length < 4) {
		   newPassEr.innerHTML = "Mật khẩu phải có ít nhất 4 ký tự!";
	     return false;
	   }
	 }
	</script>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts name all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

</body>

</html>