<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<style>
	h4{
		margin-bottom: 3%;
	}
	.ctn{
		margin-left: 6%;
	}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<head th:replace = "fragments::header">
<title>[[${pageTitle}]]</title>
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul th:replace = "fragments :: sidebar">
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace = "fragments :: topbar">
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="ctn container-fluid">
                <div class="box-body">
                	<h4>Sửa chỗ đỗ xe</h4>
                	<div class="row seat-row">
			            <div class="col-md-8">
			            	 <div th:if="${msg}" class="alert alert-success text-center">
							    [[${msg}]]
							  </div>
							  <div th:if="${msgErr}" class="alert alert-danger text-center">
							    [[${msgErr}]]
							  </div>
			            	<form class="form-horizontal" th:action="@{/UpdatePosition/{id}(id=${id})}" th:object="${positionId}" method="post">
							    <div class="form-group">
							        <label class="control-label col-sm-2" for="">Số vị trí:</label>
							        <div class="col-sm-10">
							            <input type="text" th:value="${positionName}" class="form-control" id="positionName" name="positionName" th:field="*{positionName}" autofocus>
							        </div>
							    </div>
							
							    <div class="form-group">
							        <label class="control-label col-sm-2" for="">Khu vực:</label>
							        <div class="col-sm-10">
							            <select class="form-control" name="description" id="description" th:field="*{description}">
							            <option value="">--Chọn khu vực--</option>
										  <th:block th:each="description : ${areaList}">
										    <option th:value="${description}" th:text="${description}"></option>
										  </th:block>
										</select>
							        </div>
							    </div>
							    
							    <div class="form-group">
							        <label class="control-label col-sm-2" for="">Tình trạng:</label>
							        <div class="col-sm-10">
							            <select class="form-control" id="condition" name="condition" th:field="*{condition}">
							                <option value="">--Chọn tình trạng--</option>
							                <th:block th:each="condition : ${conditionList}">
											    <option th:value="${condition}" th:text="${condition}"></option>
											  </th:block>
							            </select>
							        </div>
							    </div>
							    <div class="form-group">
							        <div class="col-sm-offset-2 col-sm-10">
							            <button id="huhong" class="btn btn-success">Lưu dữ liệu</button>
							            <a th:href="@{/}" class="btn btn-warning">Quay lại</a>
							        </div>
							    </div>
							</form>
			            </div>
		            </div>
                </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace = "fragments :: footer">
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace = "fragments :: scroll">
    </a>

    <!--  Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-aledby="exampleModala"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModala">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-a="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace = "fragments::script"></div>
    
    <script>
		$(document).ready(function(){
			$("form").submit(function(e){
	        e.preventDefault();
	    });
		})
		$('#huhong').on('click',()=>{
			var positionName = $('#positionName').val()
			var description = $('#description').val()
			var condition = $('#condition').val()
			var regex = /^[A-Za-z][0-9]{2}$/
			if (positionName == "" || !regex.test(positionName) || description == "" || condition == "") {
		      alert("Vui lòng nhập đầy đủ!");
		    } else {
		    	$("form").unbind();
		    	$("form").submit();
		    }
		})
	</script>
	
	  <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	
	<!-- Custom scripts name all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>