<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:fragment="header">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title th:text = "${title}"></title>

  <!-- Custom fonts name this template-->
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

  <!-- Custom styles name this template-->
  <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
 
</head>
<body>

<!-- Sidebar -->
<ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
   <!--  <div class="sidebar-brand-icon">
    </div> -->
    <img alt="" src="/img/logo1.png" style="width: 40%">
    <div class="sidebar-brand-text">CAR PARK</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <!-- <div class="sidebar-heading">
    Interface
  </div> -->

  <!-- Nav Item - quản lý bãi xe -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
       aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Quản lý bãi xe</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-aledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" th:href = "@{/Position}">Xem vị trí</a>
        <a class="collapse-item" th:href = "@{/Position/add}">Thêm vị trí</a>
        <a class="collapse-item" th:href = "@{/PositionTable}">Bảng chỗ đỗ xe</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - thống kê doanh thu -->
  <li class="nav-item">
    <a class="nav-link" th:href="@{/ParkingReport}">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Thống kê doanh thu</span></a>
  </li>
  
  

  <!-- Divider -->
  <hr class="sidebar-divider">

 
  <!-- Nav Item - quản lý người dùng -->
  <li class="nav-item">
    <a class="nav-link" th:href="@{/Users}">
      <i class="fas fa-user"></i>
      <span>Quản lý người dùng</span></a>
  </li>
  
   <!-- Nav Item - quản lý người dùng thẻ tháng -->
  <li class="nav-item">
    <a class="nav-link" th:href="@{/MonthlyParkingTable}">
      <i class="fas fa-ticket"></i>
      <span>Quản lý thẻ tháng</span></a>
  </li>
  
   <!-- Nav Item - quản lý người dùng thẻ tháng -->
  <li class="nav-item">
    <a class="nav-link" th:href="@{/AddNormalParking}">
      <i class="fas fa-check-square"></i>
      <span>Check in khách vãng lai</span></a>
  </li>

  <!-- Nav Item - Parking -->
  <li class="nav-item">
    <a class="nav-link" th:href="@{/Parking}">
      <i class="fas fa-check-square"></i>
      <span>Xác nhận check out</span></a>
  </li>
  
  <!-- Nav Item - chỉnh sửa giá -->
  <li class="nav-item">
    <a class="nav-link" th:href="@{/ParkingPrice/edit}">
      <i class="fas fa-tag"></i>
      <span>Cập nhật giá</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" th:href="@{/DencenRole}">
      <span>Phân quyền</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>


</ul>
<!-- End of Sidebar -->
<!-- Topbar -->
<nav th:fragment="topbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Search -->
  <!-- <form
          class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
      <input type="text" class="form-control bg-light border-0 small" placeholder="Search name..."
             aria-a="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form>
 -->
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow d-sm-none">
      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-search fa-fw"></i>
      </a>      
    </li>

    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Innamemation -->
    <li class="nav-item dropdown no-arrow">
    <th:block th:if="${user=='NULL'}">
    	<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
        <img class="img-profile rounded-circle"
             src="img/undraw_profile.svg">
      </a>
      <!-- Dropdown - User Innamemation -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
           aria-aledby="userDropdown">
        <a class="dropdown-item" th:href = "@{/ProfileAdmin}" href="">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Profile
        </a>
        <a class="dropdown-item" th:href = "@{/ChangePassword}" href="">
          <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
          Change Password
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
    </th:block>
    
    <th:block th:if="${user!='NULL'}">
    	<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">[[${user.fullName}]]</span>
        <img class="img-profile rounded-circle"
             src="img/undraw_profile.svg">
      </a>
      <!-- Dropdown - User Innamemation -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
           aria-aledby="userDropdown">
        <a class="dropdown-item" th:href = "@{/ProfileAdmin/{id}(id=${user.id})}" href="">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Profile
        </a>
        <a class="dropdown-item" th:href = "@{/ChangePassword}" href="">
          <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
          Change Password
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
    </th:block>
    </li>

  </ul>

</nav>
<!-- End of Topbar -->
<!-- Footer -->
<footer th:fragment="footer" class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Your Website 2021</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->
<!-- Scroll to Top Button-->
<a  th:fragment="scroll" class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
 <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-aledby="exampleModala"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModala">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-a="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
<div th:fragment="script">

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts name all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
</div>
</body>
</html>